.test1 {
	background-image: url(addImg('test/img','../img',one,'logo.png'));
}
.test2 {
	background-image: url(addImg('test/img','../img',three,'logo.png'));
}
.test3 {
	background-image: url(addImg('test/img','../img',one,'lo4go.png'));
}